@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap')
*
  box-sizing: border-box
  padding: 0
  margin: 0
html
  font-family: 'Noto Sans HK', sans-serif
  color: rgba(0, 0, 0, 0.87)