@use 'theme' as theme
  
.root
  position: relative
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  .background
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: -1
    rect
      fill: var(--, theme.$theme-fill-bg-dark)