@use 'theme' as theme

$min-size: 1em
.root
  width: 100%
  display: flex
  flex-wrap: wrap
  flex-direction: row-reverse
  background: #7D1236
  &:before
    content: ''
    display: block
    padding-bottom: 100%

  // align-content: flex-end
  // flex-direction: column-reverse
  